@{
    ViewBag.Title = "Administrative";
    Layout = "~/Views/Venue/HostPageTemplate.cshtml";
}

<input type="hidden" id="venueid" value="@Request.QueryString["venueid"]" />
<input type="hidden" id="hostid" value="@Request.QueryString["hostid"]" />

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Settings</li>
            <li>Administrative</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#certificates" aria-controls="" role="tab" data-toggle="tab">Certificates</a></li>
            <li role="presentation"><a href="#suppliers" aria-controls="" role="tab" data-toggle="tab">Suppliers</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="certificates">
                <div class="content-container">
                    <div class="alert alert-success" id="alert-certificates">
                        <p class="img-for"></p>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Business & General Terms</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @using (Html.BeginForm("UploadBusinessCertificate", "Venue", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddBusinessCert" }))
                                        {
                                            <label>Certificate for Starting a Business/Enterprise Ltd.</label><br />
                                            <small>Accepted formats: JPG or PDF. 3MB max size.</small>
                                            <input type="file" name="BusinessCert" id="BusinessCert" class="form-control form-control-margin-bottom" />
                                            <input type="submit" value="Save" class="btn btn-primary form-control" />
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @using (Html.BeginForm("UploadTermsAndConditionsCertificate", "Venue", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddTermsCert" }))
                                        {
                                            <label>General Conditions & Terms</label><br />
                                            <small>Accepted formats: Word or PDF. 3MB max size.</small>
                                            <input type="file" name="Terms" id="Terms" class="form-control form-control-margin-bottom" />
                                            <input type="submit" value="Save" class="btn btn-primary form-control" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Other Certificates/Licenses</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @using (Html.BeginForm("", "Venue", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddBusinessLic" }))
                                        {
                                            <label>Business License</label><br />
                                            <small>Accepted formats: JPG or PDF.</small>
                                            <select id="BusinessLicOption" class="form-control form-control-margin-bottom">
                                                <option value="Select">Select..</option>
                                                <option value="UpToDate">Up to date</option>
                                                <option value="NoLicense">No License</option>
                                                <option value="NA">N/A</option>
                                            </select>
                                            <input type="file" name="BusinessLicense" id="BusinessLicense" class="form-control form-control-margin-bottom" disabled="disabled" />
                                            <input type="submit" value="Save" class="btn btn-primary form-control" />
                                        }
                                    </div>
                                    <div class="form-group">
                                        @using (Html.BeginForm("", "Venue", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddFireDeptCert" }))
                                        {
                                            <label>Fire Dept.</label><br />
                                            <small>Accepted formats: JPG or PDF.</small>
                                            <select id="FireDeptOption" class="form-control form-control-margin-bottom">
                                                <option value="Select">Select..</option>
                                                <option value="UpToDate">Up to date</option>
                                                <option value="NoLicense">No License</option>
                                                <option value="NA">N/A</option>
                                            </select>
                                            <input type="file" name="FireDeptCert" id="FireDeptCert" class="form-control form-control-margin-bottom" disabled="disabled" />
                                            <input type="submit" value="Save" class="btn btn-primary form-control" />
                                        }
                                    </div>
                                    <div class="form-group">
                                        @using (Html.BeginForm("", "Venue", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddThirdPtInsurance" }))
                                        {
                                            <label>Third Party Insurance</label><br />
                                            <small>Accepted formats: JPG or PDF.</small>
                                            <select id="ThirdPtInsuranceOption" class="form-control form-control-margin-bottom">
                                                <option value="Select">Select..</option>
                                                <option value="UpToDate">Up to date</option>
                                                <option value="NoLicense">No License</option>
                                                <option value="NA">N/A</option>
                                            </select>
                                            <input type="file" name="ThirdPartyInsurance" id="ThirdPartyInsurance" class="form-control form-control-margin-bottom" disabled="disabled" />
                                            <input type="submit" value="Save" class="btn btn-primary form-control" />
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @using (Html.BeginForm("", "Venue", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddPoliceAuthCert" }))
                                        {
                                            <label>Police Authorization</label><br />
                                            <small>Accepted formats: JPG or PDF.</small>
                                            <select id="PoliceAuthOption" class="form-control form-control-margin-bottom">
                                                <option value="Select">Select..</option>
                                                <option value="UpToDate">Up to date</option>
                                                <option value="NoLicense">No License</option>
                                                <option value="NA">N/A</option>
                                            </select>
                                            <input type="file" name="PoliceAuth" id="PoliceAuth" class="form-control form-control-margin-bottom" disabled="disabled" />
                                            <input type="submit" value="Save" class="btn btn-primary form-control" />
                                        }
                                    </div>
                                    <div class="form-group">
                                        @using (Html.BeginForm("", "Venue", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddSanitationCert" }))
                                        {
                                            <label>Sanitation Certificate</label><br />
                                            <small>Accepted formats: JPG or PDF.</small>
                                            <select id="SanitationOption" class="form-control form-control-margin-bottom">
                                                <option value="Select">Select..</option>
                                                <option value="UpToDate">Up to date</option>
                                                <option value="NoLicense">No License</option>
                                                <option value="NA">N/A</option>
                                            </select>
                                            <input type="file" name="SanitationCert" id="SanitationCert" class="form-control form-control-margin-bottom" disabled="disabled" />
                                            <input type="submit" value="Save" class="btn btn-primary form-control" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="suppliers">
                <div class="content-container">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}