@{
    ViewBag.Title = "Confirm";
}

<h2>Registration Successful!</h2>
<div>
    <p>
        Thank you for registering! We have sent a confirmation link to your email to complete your registration.
    </p>
</div>