
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Venue/HostPageTemplate.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Venue Info
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  @Html.ActionLink("Home", "Dashboard", "Venue", new { hostid = Request.QueryString["hostid"] }, null)
            </li>
        </ol>
    </div>
</div>